{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{book_id.image.url}}" alt="" width="400" height="300">
     <br>
    <hr>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{book_id.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{book_id.quantity}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{book_id.prise}}сом</h6>
    <p class="card-text">{{book_id.description}}</p>
    <p href="#" class="card-link">{{book_id.genre}}</p>
      <button><a href="/book/{{book_id.id}}/update">Изменить данные</a></button>
      <button><a href="/book/{{book_id.id}}/delete">Удалить фильм</a></button>
  </div>
</div>
    <br>
    <hr>
    <iframe src="{{book_id.video}}" frameborder="0" width="640" height="420"></iframe>
</center>
>

{% include 'footer.html' %}