{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TvShow</title>
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2535/2535543.png">
  <!---  --->
</head>
<body>
<div>
  <button><a href="http://127.0.0.1:8000/admin/">В панель управления</a></button>
  <ul>
  {% for i in show %}

    <li>
      <h3>Название фильма: {{i.title}} </h3>
      <p>Жанр: {{i.genre}}</p>
      <p>Цена: {{i.prise}} сом </p>
      <button><a href="/tvshow/{{i.id}}">Подробнее</a></button>
    </li>

    {% endfor %}
  </ul>
</div>
</body>
</html>
